.cols3 {
	width: 100%;
	max-width: 1000px;
}

@media ( min-width : 400px) {
	.cols3 {
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
		-webkit-column-rule: 1px solid #000;
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-moz-column-rule: 1px solid #000;
		column-count: 2;
		column-gap: 20px;
		column-rule: 1px solid #000;
	}
}

@media ( min-width : 600px) {
	.cols3 {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 4;
	}
}